// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 0;
  min-height: 3.5rem;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition-all;

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  &:not([href]) {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
      text-decoration: underline;
      color: $link-color;
    }
  }

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  min-height: 48px;
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//custom added
.btn {
  position: relative;

  i {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    &.icon-social {
      [dir="ltr"] & {
        left: 0.75rem;
      }

      [dir="rtl"] & {
        right: 0.75rem;
      }

      &:before {
        width: 2rem;
        height: 2rem;
        font-size: $h2-font-size;
      }
    }

    [dir="ltr"] & {
      left: 1rem;
    }

    [dir="rtl"] & {
      right: 1rem;
    }

    img {
      max-width: 24px;
    }
  }
}
.btn-success {
  -webkit-box-shadow: inset 0 -0.125rem 0 darken($green, 5%), 0 0 0 darken($green, 5%);
  box-shadow: inset 0 -0.125rem 0 darken($green, 5%), 0 0 0 darken($green, 5%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  &:hover {
    background-color: $green;
    -webkit-box-shadow: inset 0 -0.125rem 0 darken($green, 8%), 0 0 0 darken($green, 8%);
    box-shadow: inset 0 -0.125rem 0 darken($green, 8%), 0 0.1rem 0 darken($green, 8%);
    -webkit-transform: translateY(-0.125rem);
    -ms-transform: translateY(-0.125rem);
    transform: translateY(-0.125rem);
  }
  &:disabled,
  &.disabled {
    opacity: 1;
    background-color: $gray-200;
    border-color: $gray-200;
    box-shadow: none;
    color: $gray-600;

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}
.btn-link {
  min-height: auto;
  min-width: auto;
  padding: 0;

  &:active,
  &:focus {
    outline: 0;
  }
}
.btn-info {
  -webkit-box-shadow: inset 0 -0.125rem 0 darken($light-blue, 5%), 0 0 0 darken($light-blue, 5%);
  box-shadow: inset 0 -0.125rem 0 darken($light-blue, 5%), 0 0 0 darken($light-blue, 5%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  &:hover {
    background-color: $light-blue;
    -webkit-box-shadow: inset 0 -0.125rem 0 darken($light-blue, 8%), 0 0 0 darken($light-blue, 8%);
    box-shadow: inset 0 -0.125rem 0 darken($light-blue, 8%), 0 0.1rem 0 darken($light-blue, 8%);
    -webkit-transform: translateY(-0.125rem);
    -ms-transform: translateY(-0.125rem);
    transform: translateY(-0.125rem);
  }
}
.btn-info.disabled,
.btn-info:disabled,
.btn-info.disabled:hover,
.btn-info:disabled:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  box-shadow: none;
  background-color: $gray-200;
  color: $white;
}
.btn-light {
  box-shadow: none;
  border: 1px solid $gray-300;

  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      background-color: $light-blue;
      border-color: $light-blue;
      color: $white;

      &:focus {
        background-color: $light-blue;
        border-color: $light-blue;
        color: $white;
      }
    }
  }

  &:hover {
    background-color: $gray-200;
    border-color: $gray-300;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  &.animated {
    -webkit-box-shadow: inset 0 0 0 darken($gray-300, 0%), 0 0 0 darken($gray-300, 0%);
    box-shadow: inset 0 0 0 darken($gray-300, 0%), 0 0 0 darken($gray-300, 0%);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    &:hover {
      background-color: $gray-100;
      -webkit-box-shadow: inset 0 -0.125rem 0 darken($gray-300, 5%), 0 0 0 darken($gray-300, 5%);
      box-shadow: inset 0 -0.125rem 0 darken($gray-300, 5%), 0 0 0 darken($gray-300, 5%);
      -webkit-transform: translateY(-0.125rem);
      -ms-transform: translateY(-0.125rem);
      transform: translateY(-0.125rem);
    }
  }
}
.btn-wishlist {
  position: relative;
  min-width: 68px;

  &:before,
  &:after {
    left: 50%;
    margin: -0.6875rem;
    position: absolute;
    top: 50%;
  }
  &:before {
    @include icon;
    content: "\ea0e";
    color: $gray-600;
  }
  &:after {
    @include icon;
    @include transition-all;
    content: "\ea0e";
    color: $red;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  &:hover {
    &:before {
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }
    &:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  &:not(:disabled):not(.disabled) {
    &.active {
      background-color: $red;
      border-color: $red;
      &:focus {
        background-color: $red;
        border-color: $red;
      }
      &:before {
        color: $white;
      }
      &:after {
        display: none;
      }
    }
  }
}
.btn-white {
  border: 1px solid $gray-300;
  box-shadow: none;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  &:hover {
    background-color: $white;
    -webkit-box-shadow: inset 0 -0.11rem 0 darken($gray-300, 0%), 0 0 0 darken($gray-300, 0%);
    box-shadow: inset 0 -0.11rem 0 darken($gray-300, 0%), 0 0.1rem 0 darken($gray-300, 0%);
    -webkit-transform: translateY(-0.11rem);
    -ms-transform: translateY(-0.11rem);
    transform: translateY(-0.11rem);
  }
}
.btn-secondary {
  background-color: transparent;
  color: $primary;
  padding: 0.5rem 0.75rem;
  border: 0;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $light-blue;
    color: $white;
  }
}
.social-btn {
  display: flex;
  align-items: center;

  i {
    position: static;
  }

  span {
    width: 100%;
    text-align: center;
    white-space: nowrap;

    [dir="ltr"] & {
      padding: 0 3rem 0 1rem;

      @include media-breakpoint-up(xl) {
        padding: 0 1rem 0 1rem;
      }
    }

    [dir="rtl"] & {
      padding: 0 1rem 0 3rem;

      @include media-breakpoint-up(xl) {
        padding: 0 1rem 0 1rem;
      }
    }
  }
}
.btn-share {
  min-width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.btn-collapse {
  background-color: $white;
  padding: 1.5rem 1rem;
  line-height: 1;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    background-color: $gray-100;
    border-radius: 0;

    &:active {
      background-color: $blue-tint;
    }

    &:hover,
    &:focus {
      background-color: $white;
    }
  }

  [dir="ltr"] & {
    text-align: left;
  }

  [dir="rtl"] & {
    text-align: right;
  }

  i {
    [dir="ltr"] & {
      right: 1rem;
    }

    [dir="rtl"] & {
      left: 1rem;
    }

    &:after,
    &:before {
      @include icon;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      transition-delay: 0s;
      color: $black;
      content: "\ea01";
      margin-top: -0.5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform-origin: 50% 50%;
      font-size: $font-size-base;
    }

    &:after {
      content: "\ea15";
      opacity: 0;
      transform: rotate(-90deg);
    }

    &:before {
      transform: rotate(0deg) scale(1);
    }
  }

  &.active {
    i {
      &:after {
        opacity: 1;
        transform: rotate(0);
      }

      &:before {
        transform: rotate(90deg) scale(0);
      }
    }
  }

  &.btn-block {
    display: flex;
  }
}
