.cart-layout-outer {
  background: $gray-100;
  padding: 2rem 0 2.5rem 0;
  .cart-title {
    font-size: $h2-font-size;
    margin-bottom: 1rem;
    span {
      font-size: $h5-font-size;
      font-weight: normal;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
@include media-breakpoint-down(sm) {
  .cart-layout-outer {
    padding: 1.5rem 0 0 0;

    .alert-warning {
      margin-right: -16px;
      margin-left: -16px;
      margin-bottom: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
    }
  }
}
.delivery-note {
  width: 100%;
}
.cart-progress {
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  width: 60%;
  position: relative;
  &::before {
    content: "";
    background: theme-color($key: "secondary");
    position: absolute;
    height: 2px;
    left: 0;
    right: 1rem;
    top: calc(50% - 1px);
  }
  .bar {
    position: relative;
    transition: width 1s cubic-bezier(0.54, -0.43, 0.28, 1.33);
    &::before {
      content: "";
      background: theme-color($key: "primary");
      position: absolute;
      height: 2px;
      left: 0;
      right: 1rem;
      top: calc(50% - 1px);
    }
    .truck {
      position: relative;
      float: right;
      margin-top: -1rem;
      i {
        font-size: $h2-font-size;
        color: theme-color($key: "primary");
        line-height: 0;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .cart-progress-outer {
    margin-bottom: 1.5rem;
  }
}
// Order Summary
.order-summary-outer {
  .card-body {
    padding: 0;
  }
  .order-summary-title {
    padding: 20px 2rem;
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $border-color;
    margin: 0;

    @include media-breakpoint-down(sm) {
      padding: 20px 1rem;
    }
  }
  .card {
    border: 0;
  }
  .summary-title {
    font-size: $h4-font-size;
    margin-bottom: 1.5rem;
  }
  .promo-code-outer {
    padding: 0 2rem;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
      border-radius: 0;
      padding: 0 1rem;
    }

    .promo-code {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 1rem 0;
      font-weight: $font-weight-bold;

      p {
        margin: 0;
      }
    }
    .collapse,
    .collapsing {
      padding: 0;
      p {
        font-size: $font-size-sm;
      }
      .text-primary {
        font-weight: $font-weight-bold;
      }
    }
  }
  .price-summary-outer {
    padding: 1rem 2rem;

    @include media-breakpoint-down(sm) {
      padding: 1rem 1rem;
    }
  }
  .cart-buttons {
    padding: 0 2rem 1rem;

    @include media-breakpoint-down(sm) {
      padding: 0 1rem 1rem;
    }

    .btn {
      width: 100%;
    }
  }
  .security-message {
    background-color: transparent;
    border-bottom: 0;
    position: relative;

    [dir="ltr"] & {
      padding: 1rem 2rem 2rem 4.5rem;
    }

    [dir="rtl"] & {
      padding: 1rem 4.5rem 2rem 2rem;
    }

    @include media-breakpoint-down(sm) {
      [dir="ltr"] & {
        padding: 1rem 1rem 2rem 3.5rem;
      }

      [dir="rtl"] & {
        padding: 1rem 3.5rem 2rem 1rem;
      }
    }

    .icon-lock {
      position: absolute;
      top: 1rem;

      [dir="ltr"] & {
        left: 2rem;
      }

      [dir="rtl"] & {
        right: 2rem;
      }

      @include media-breakpoint-down(sm) {
        [dir="ltr"] & {
          left: 1rem;
        }

        [dir="rtl"] & {
          right: 1rem;
        }
      }
    }
  }
}
.order-total {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}
.order-total-sub {
  color: $gray-500;
  font-size: $font-size-sm;
}
@include media-breakpoint-down(md) {
  .order-summary-outer {
    margin-top: 1.5rem;
  }
}
@include media-breakpoint-down(sm) {
  .order-summary-outer {
    margin-top: 0;
    margin-left: -1rem;
    margin-right: -1rem;
    .summary-title {
      margin-bottom: 1rem;
    }
    .card {
      border-radius: 0;
    }
    .card-body {
      padding: 0;
    }
  }
}
// Cart Product List
.cart-products-outer {
  .card {
    border: 0;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .btn-link {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
  .product-image {
    width: 13.75rem;
    flex: 0 0 13.75rem;
    @include media-breakpoint-down(md) {
      width: 9.5rem;
      flex: 0 0 9.5rem;
    }
    @include media-breakpoint-down(sm) {
      width: 102px;
      flex: 0 0 102px;

      [dir="ltr"] & {
        padding-right: 0;
      }

      [dir="rtl"] & {
        padding-left: 0;
      }
    }
  }
  .item-image {
    position: relative;
    border: 0;
    border-radius: $border-radius;
    overflow: hidden;
    padding: 0.5rem;
    img {
      max-width: 100%;
      min-width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    .item-image {
      width: 100%;
      border: none;
      border-radius: $border-radius;
      overflow: hidden;
      padding: 0;
      border-radius: 0;
    }
  }
  .item-price {
    margin-top: 0;
    .price {
      margin-right: 0.5rem;
      font-size: $h4-font-size;
      font-weight: $font-weight-bold;
    }
    .price-each {
      font-weight: $font-weight-bold;
    }
    .discounted {
      color: theme-color($key: "primary");
    }
    .discounted-price {
      color: $gray-500;
      margin-bottom: 0;
      span {
        text-decoration: line-through;
      }
    }
    &.offer-price {
      .price {
        color: $orange;
      }
      .price-each {
        color: $orange;
      }
    }
  }
  .card-body {
    padding: 1.5rem;
    position: relative;
    .btn-close {
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: $border-radius;
      color: $black;
      position: absolute;
      top: 1rem;
      font-weight: $font-weight-bold;
      outline: 0;
      border: 0;
      z-index: 10;
      cursor: pointer;
      @include transition-color;

      [dir="ltr"] & {
        right: 1rem;
      }

      [dir="rtl"] & {
        left: 1rem;
      }

      &:before {
        content: "\ea09";
        @include icon;
        font-size: $h5-font-size;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  .item-data {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding: 1rem 0;
    .dropdown-custom {
      [dir="ltr"] & {
        margin-right: 1.4rem;
      }

      [dir="rtl"] & {
        margin-left: 1.4rem;
      }
      .dropdown-toggle {
        min-height: 3rem;
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        &:after {
          color: $gray-600;
          font-size: $h5-font-size;
        }
      }
    }
    .data-left {
      display: flex;
      align-items: center;
    }
  }
  .item-gift {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding: 1rem 0;
    h6 {
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;
    }
  }
  .item-assembly {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding: 1rem 0;
    h6 {
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;
    }
  }
  .item-warranty {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding: 1rem 0;
    h6 {
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;
      white-space: nowrap;
    }
  }
  .product-attributes {
    border-top: 1px solid $border-color;
    .product-status {
      border-bottom: 0;
      padding-bottom: 0;
      .avail-status {
        align-items: center;
        .avail-status-content {
          justify-content: center;
        }
      }
    }
  }
  .item-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-color;
    padding: 1.25rem 0;
    h5,
    h6 {
      font-size: $font-size-lg;
      font-weight: $font-weight-normal;
      margin: 0;
    }
  }
  .item-color {
    width: 24px;
    height: 24px;
    border-radius: 100%;
  }
  .item-qty {
    .form-control,
    .btn {
      width: 40px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .form-control {
      height: 40px;
      border-top-width: 2px;
      border-bottom-width: 2px;
    }
  }
  .total-price {
    text-align: right;
    font-weight: $font-weight-bold;
  }
  .item-qty-sm-outer {
    margin: 0 -1rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1rem;
  }
}
@include media-breakpoint-down(sm) {
  .cart-products-outer {
    margin-left: -1rem;
    margin-right: -1rem;
    .card {
      border-radius: 0;
      margin-bottom: 0;
    }
    .card-body {
      padding: 1rem;
      border-bottom: 0.5rem solid $gray-200;
    }
  }
}
.security-message {
  padding: 0.5rem 1rem 1.5rem;
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-sm;
    line-height: 1.25rem;

    i {
      margin-right: 1rem;
    }
  }
}

/* ==== Cart Empty === */
.cart-empty-outer {
  padding-bottom: 7.5rem;
  background-color: $white;

  @include media-breakpoint-down(sm) {
    padding-bottom: 4rem;
  }

  .cart-empty-banner {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB2aWV3Qm94PScwIDAgNjMgMjYnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnPjxwYXRoIGZpbGw9JyMyYWFjZTInIGQ9J00wLDB2MjEuNmMzLjYtMC40LDYuOS0wLjEsNy0wLjFjNi40LDAuMSw5LjcsMy4xLDIxLjIsNC4xYzcuOCwwLjMsMTYuOC0xLjMsMjEuOC0zLjJjMy42LTEuMiw0LjktMS40LDYuOC0xLjJjMi4xLDAuMywyLjQsMS4zLDQuMyw0YzAuMywwLjMsMC44LDAuOSwyLjgsMC43VjBIMCcvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;

    @include media-breakpoint-down(sm) {
      background-size: 220% 70%;
      background-position-x: 70%;
    }

    .cart-empty-bg1,
    .cart-empty-bg2 {
      position: absolute;
      color: #40b5e5;
      font-size: 18rem;
      top: 0;
      z-index: 1;
    }
    .cart-empty-bg1 {
      -webkit-transform: translate(-25%, -35%);
      -ms-transform: translate(-25%, -35%);
      transform: translate(-25%, -35%);

      [dir="ltr"] & {
        left: 0;
      }

      [dir="rtl"] & {
        right: 0;
      }
    }
    .cart-empty-bg2 {
      -webkit-transform: translate(20%, -20%);
      -ms-transform: translate(20%, -20%);
      transform: translate(20%, -20%);

      [dir="ltr"] & {
        right: 0;
      }

      [dir="rtl"] & {
        left: 0;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .cart-empty-content {
      max-width: 90rem;
      min-width: 20rem;
      max-height: 30rem;
      width: 100%;
      margin: 0;
      position: relative;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      @include media-breakpoint-up(md) {
        &:before {
          content: "";
          float: left;
          padding-bottom: 47.05882%;
        }
      }

      @include media-breakpoint-down(sm) {
        max-height: 100%;
        text-align: center;
      }

      .cart-empty-text {
        padding-top: 4.375rem;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2;
        color: $white;

        @include media-breakpoint-down(sm) {
          padding-top: 2rem;
        }

        .cart-empty-title {
          font-size: $font-size-xxl;
          font-weight: $font-weight-light;
          line-height: 3.5rem;
          font-family: $font-family-secondary;
          margin-bottom: 2.5rem;
          text-align: center;

          @include media-breakpoint-down(sm) {
            font-size: $h2-font-size;
            line-height: 2.5rem;
          }
        }

        .btn.btn-light {
          min-height: 48px;
          margin: 0 auto;

          &:active {
            background-color: $light-blue;
            color: $white;
          }
        }
      }

      .cart-empty-img1,
      .cart-empty-img2 {
        position: absolute;
        z-index: 2;

        @include media-breakpoint-down(sm) {
          position: static;
        }
      }
      .cart-empty-img1 {
        bottom: 0;
        width: 17.5rem;

        [dir="ltr"] & {
          left: 1.875rem;
        }

        [dir="rtl"] & {
          right: 1.875rem;
        }

        @include media-breakpoint-down(md) {
          width: 13.75rem;
        }

        @include media-breakpoint-down(md) {
          margin: 1rem auto 0;
        }
      }
      .cart-empty-img2 {
        top: 0;
        width: 16.25rem;

        [dir="ltr"] & {
          right: 2.5rem;
        }

        [dir="rtl"] & {
          left: 2.5rem;
        }

        @include media-breakpoint-down(md) {
          width: 12.5rem;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}
.i-shape-cloud {
  &:before {
    content: "\ea02";
    @include shape;
  }
}
.warranty-select {
  margin: 0.25rem 0 1.5rem;
  padding: 0 2rem;
}
.warranty-content {
  padding: 1rem 1rem 0;
}
.warranty-subtitle {
  font-weight: $font-weight-light;
  font-size: $h5-font-size;
  margin: 0 0 1rem;
}
.cart-outofstock {
  background-color: $red-tint;
  color: $red;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 1rem;
  padding: 0.75rem;
  text-align: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.cart-outofstock ~ .card-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.view-item {
  padding: 0 !important;

  .cart-products-outer {
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-left: 0;
    }

    .card {
      padding: 1.25rem;
      border-bottom: 0.5rem solid $gray-200;
    }

    .card-body {
      padding: 0;

      @include media-breakpoint-down(sm) {
        border-bottom: 0;
      }
    }
  }
}
