.error-layout-outer {
    margin-top: 4rem;
    margin-bottom: 7.5rem;

    @include media-breakpoint-down(md) {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .error-content {
        margin-top: 1.25rem;

        [dir="ltr"] & {
            margin-left: 15%;
        }

        [dir="rtl"] & {
            margin-right: 15%;
        }

        @include media-breakpoint-down(md) {
            [dir="ltr"] & {
                margin-left: 0;
            }

            [dir="rtl"] & {
                margin-right: 0;
            }
        }

        .error-title {
            font-family: $font-family-secondary;
            font-size: $font-size-xxl;
            font-weight: normal;
            line-height: 3.5rem;
            color: $primary;
            margin-bottom: 1rem;
        }

        .error-code {
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }

        .error-text {
            margin-bottom: 0.5rem;
        }

        .error-link {
            li {
                .btn-link {
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
