.ordertracking-signin-outer {
    background-color: $gray-100;
    padding: 3rem 0 7.5rem;

    .form-outer {
        background-color: $white;
        border-radius: $border-radius-lg;
        padding: 2rem;
    }
}

.ordertracking-outer {
    background-color: $gray-100;
    padding-top: 3rem;
    padding-bottom: 7.5rem;

    @include media-breakpoint-down(sm) {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .form-outer {
        border-radius: $border-radius-lg;
        background-color: $white;
        padding: 2rem 1rem 1rem;

        @include media-breakpoint-down(sm) {
            margin-right: -16px;
            margin-left: -16px;
            border-radius: 0;
        }
    }

    .order-tracking-sidepanel {
        .title-main {
            margin-bottom: 2rem;
        }
    }
}