.wishlist-layout-outer {
    padding: 2rem 0 7.5rem;

    @include media-breakpoint-down(sm) {
        padding: 0 0 4rem;
    }

    .wishlist-title {
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0 2rem;

        @include media-breakpoint-down(sm) {
            padding: 2rem 0;
        }
    }

    .wishlist-share {
        .title-main {
            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }
    }

    .btn-share {
        @include media-breakpoint-down(sm) {
            min-width: 120px;
        }
    }

    .title-main {
        font-weight: $font-weight-bold;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
            margin-left: 0;
        }
    }

    .alert {
        display: inline-flex;
        margin: 0 auto;

        @include media-breakpoint-down(sm) {
            margin: 0 -16px;
            border-radius: 0;
            text-align: left;
        }
    }

    .wishlist-items-outer {
        padding-top: 2rem;

        @include media-breakpoint-down(sm) {
            padding-top: 0;
        }
    }

    .wishlist-item-footer {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
        }
    }

    .custom-card {
        justify-content: center;

        @include media-breakpoint-down(sm) {
            margin-right: -16px;
            margin-left: -16px;
            overflow-x: hidden;
        }

        &.custom-card-list {
            .card {
                border-top: 0;
                padding-top: 1.25rem;
                padding-bottom: 0.25rem;

                @include media-breakpoint-up(lg) {
                    width: 25%;
                    flex: 0 0 25%;
                }

                @include media-breakpoint-down(sm) {
                    padding: 16px;
                    border-bottom: 0.5rem solid $gray-200;
                }

                .card-outer {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    @include media-breakpoint-down(sm) {
                        flex-direction: row;
                    }

                    .card-body {
                        display: flex;
                        flex-direction: column;

                        .wishlist-item-btn {
                            display: flex;
                            align-items: flex-end;
                            flex-grow: 1;
                        }
                    }

                    figure {
                        .wishlist-slider-item {
                            padding: 0 1px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .btn-arrow {
                        opacity: 0;
                        visibility: hidden;
                    }
                    .btn-arrow.arrow-left {
                        [dir="ltr"] & {
                            left: -24px;
                        }

                        [dir="rtl"] & {
                            right: -24px;
                        }
                    }
                    .btn-arrow.arrow-right {
                        [dir="ltr"] & {
                            right: -24px;
                        }

                        [dir="rtl"] & {
                            left: -24px;
                        }
                    }
                }
                &:hover {
                    .card-outer {
                        .btn-arrow {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .pricing-card {
            min-height: 47px;

            @include media-breakpoint-down(sm) {
                min-height: auto;
            }
        }
        .product-attributes {
            min-height: 84px;

            @include media-breakpoint-down(sm) {
                min-height: auto;
            }

            .product-status {
                border-bottom: 0;

                .icon-card {
                    width: auto;
                }
            }
        }
    }

    .wishlist-remove {
        position: absolute;
        right: 0.5rem;
        top: 1rem;
        color: $gray-300;
        z-index: 10;
        background-color: transparent;

        &:hover {
            color: $gray-600;
        }

        @include media-breakpoint-down(sm) {
            position: static;

            [dir="ltr"] & {
                margin-left: auto;
            }

            [dir="rtl"] & {
                margin-right: auto;
            }
        }
    }
    .pagination-outer {
        border-top: 0;
        padding-top: 2rem;
    }
}

.wishlist-empty-mesage {
    text-align: center;

    h5 {
        font-size: $font-size-lg;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .btn {
        width: 100%;
        max-width: 16rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
}
